
.titulo_principal {
    display: block;
    font-size: 1.5em;
    margin: 0.83em auto;
    font-weight: bold;
}

.sub_titulo {

    display: block;
    font-size: 1.0em;
    margin: 0.93em auto;
    font-weight: bold;
}
.conteudo img {
   max-width:500px;
   max-height:800px;
   width: auto;
   height: auto;

}
.conteudo_principal img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 30px 0;
  width:80%;
  height: 10%;


}
.conteudo{
  width: 70%;
  margin: 0 auto;
  padding: 30px 0;

}
.conteudo_principal iframe  {
  display: flex;
  justify-content: center;
  margin: 0 auto;

}
